{
  "presets": [
    [
      "@babel/env",
      {
        "modules": "auto",
        "targets": {
          "browsers": [">0.4%", "not dead", "not ie <= 11", "not op_mini all"]
        },
        "corejs": "3.x",
        "useBuiltIns": "usage"
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "core": "./src/core/",
        "config": "./config/",
        "icons": "./src/images/icons/",
        "images": "./src/images/",
        "store": "./src/store/",
        "App": "./src/features/App/",
        "Common": "./src/features/Common/",
        "FormComponents": "./src/features/FormComponents/",
        "Modal": "./src/features/Modal/",
        "Navigation": "./src/features/Navigation/",
        "constants": "./src/constants/"
      }
    }]
  ]
}
